body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.carousel-container {
  margin: 30px auto;
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.carousel-controls {
  width: 200px;
  height: 100px;
  position: relative;
  margin: auto;
}

.previous,
.next {
  position: absolute;
}

.carousel-button {
  border: 1px solid black;
  padding: 5px;
  width: 75px;
  text-align: center;
  border-radius: 20px;
}

.carousel-button:hover {
  background-color: lightblue;
}

.previous {
  left: 0;
}

.next {
  right: 0;
}
