<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ma première app avec Ejs</title>
  </head>
  <body>
    <h1>Ma première app avec Ejs</h1>
    <p>Salut <%= name %></p>
  </body>
</html>
