<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Créer un nouvel article</title>
  </head>
  <body>
    <h1>Créer un nouvel article</h1>
    <form action="/article" method="post">
      <div>
        <label for="title">Titre</label>
        <input type="text" id="title" name="title" />
      </div>
      <div>
        <label for="content">Contenu</label>
        <textarea id="content" name="content"></textarea>
      </div>
      <button type="submit">Créer</button>
    </form>
  </body>
</html>
